nav {
    display: flex;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: whitesmoke;
    padding: 16px;
    background-color: olivedrab;
    text-align: center;
    justify-content: left;
    letter-spacing: 0.4em;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #202124;
    color: whitesmoke;
    text-align: center;

}
.tacos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);


}

main > h1 {
  color: whitesmoke;
}
a:hover{
  background-color: green;
}
nav a {
  text-decoration: none;

}
.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    line-height: -1em;
    font-size: 100%;
    font-variant: small-caps;

}
img {
    height: 200px
}

h2 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
main {
    padding: 16px;
    margin: 2px;
}
footer {
    display: flex;
    padding: 24px 0px 24px 0px;
    position: relative;
    top: 40px;
    background-color: olivedrab;
    padding-left: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.navigation {
    box-sizing: border-box;
    background-color: #3587A4;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
  }
table {
    border-collapse: collapse;
    font-family: sans-serif;
    height: 40%;
    left: 40%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 30%;
    color: black;
    box-shadow: 5px 5px 5px palegreen;
  }

  td {
    text-align: center;
  }
thead th {
    background: #222;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }

  tr:nth-child(even) {
    background-color: lemonchiffon;
  }

  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: middle;
    width: 33.3333%;
  }
